
html {
    font-size: 12pt;
    font-family: system-ui;
    background-color: rgb(193, 206, 229);
}

body {}

h1 {}

a {
    text-decoration: none;
    color: #4d2211;
}

.constrain {
    margin: 0 auto;
    max-width: 1170px; 
}
